#chat-box
{
	display:none;
	float:left;
	width:88%;
	position:relative;
	height:400px;
	border:2px solid #dcdcdc;

}

#msg-box
{
	overflow:scroll;
	overflow-x:hidden;
	height:88%;
}

#users-box
{
	display:none;
	overflow: auto;
	float:right;
	width:10%;
	position:relative;
	height:400px;
	border:2px solid #dcdcdc;
}

#option-box
{
	display:none;
	overflow: hidden;
	width: 100%;
	position:relative;
	height:50px;
	top: 10px;
	border:2px solid #dcdcdc;
}

#select-box
{
	display:none;
	overflow: hidden;
	width: 100%;
	position:relative;
	height:60px;
	top: 10px;
	border:2px solid #dcdcdc;
}

li
{
	margin-left:7px;
	margin-top:7px;
}

#msg
{
	width:20%;
	margin-top:7px;
	margin-left:7px;
}

#start, #ready
{
	float:right;
	margin-top:7px;
	margin-right:7px;
}

select#mode
{
	width: 150px;
	margin-left: 10px;
}

div#mask
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: opacity 1s;
	z-index: 9999;
}

div#mask.masked
{
	opacity: 0.7;
}

.select-choice
{
	margin-left:7px;
	margin-top:7px;
}